---
layout: default
---

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><strong>{{ site.header.title }}</strong> {{ site.header.subtitle }}</h1>
    </header>

    <!-- Main -->
    <div id="main" data-exif-display='{{ site.exif_display }}'>
        {% assign reversed = site.static_files | reverse %}
        {% for image in reversed %}
        {% if image.path contains 'fulls' %}
        <article class="thumb">

            {% capture title %}{% exiftag image_description, , {{ image.path }} %}{% endcapture %}
            <a href="{{ site.image_fulls_loc | relative_url }}/{{ image.name }}" class="image" title="{{ title }}">
                <img  src="{{ site.image_thumbs_loc | relative_url }}/{{ image.name }}"
                      alt="{{ title | default: image.basename }}"
                      title="<a href='{{ site.image_fulls_loc | relative_url }}/{{ image.name }}' target='_blank'>{{ title | default: image.basename }}</a>"
                      data-name="{{ image.name }}"/>
            </a>
        </article>
        {% endif %}
        {% endfor %}
    </div>

</div>
